* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f0f0;
    border: 2px solid black;
}

.number {
    width: 347px;
    height: 100px;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.number5 {
    width: 735px;
}